<header class="inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">lorem</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">lorem</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">lorem</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">lorem</a>
    </div>
  </nav>
</header>
<div class="py-[20px]">
  <router-outlet></router-outlet>
</div>